body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
}
